* {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1140px;
}

a {
  text-decoration: none;
}

header {
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  height: 53px;
  background-color: #212121;
  z-index: 3;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 13px 70px;
  list-style-type: none;
}
.menu_link {
  color: #FFF;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu_item:last-child {
  border: none;
}

.subheader {
  margin-top: 53px;
  position: absolute;
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  margin-top: 20px;
}
.subheader_oficial {
  margin-top: 5px;
  color: #FFF;
  font-size: 13px;
  font-weight: 100;
}
.subheader_call {
  margin-top: 20px;
  color: #FFF;
  text-align: right;
  font-size: 12px;
  font-weight: 300;
}
.subheader_phone {
  display: block;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
.subheader_btn {
  margin-top: 20px;
  width: 172px;
  height: 46px;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  padding: 180px 0 185px;
  min-height: 800px;
  background-image: url(../image/uber_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.promo_title {
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
}
.promo_subtitle {
  text-align: center;
  color: #FFF;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
.promo_descr {
  margin-top: 16px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.promo_btn {
  display: block;
  margin: 115px auto 0;
  width: 259px;
  height: 63px;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.secondPage {
  padding: 20px 0 65px;
}
.secondPage_wrapper {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.secondPage_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 515px;
  gap: 25px;
}
.secondPage_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 116px;
  height: 116px;
  border-radius: 100%;
  background-color: #1EACC7;
}
.secondPage_descr {
  text-align: left;
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  width: 371px;
}
.secondPage_descr span {
  color: #1EACC7;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
}

.title {
  position: relative;
  margin-top: 33px;
  color: #222;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
}
.title_white {
  color: white;
}

.label {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 113px;
  padding: 5px;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: black;
  z-index: 2;
}
.label_white {
  background-color: white;
  color: #000;
}

.subtitle {
  position: relative;
  color: #222;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  z-index: 2;
}
.subtitle_white {
  color: white;
}

.mobile {
  padding: 48px 0 80px;
  background-image: url(../image/possibilities_mobile_bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mobile_cases {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}
.mobile_cases_item {
  position: relative;
  padding-top: 85px;
  width: 320px;
  height: 280px;
}
.mobile_cases_item-1 {
  background: url(../image/possibilities_card-1.png) center center/cover no-repeat;
}
.mobile_cases_item-2 {
  background: url(../image/possibilities_card-2.png) center center/cover no-repeat;
}
.mobile_cases_item-3 {
  background: url(../image/possibilities_card-3.png) center center/cover no-repeat;
}
.mobile_cases_item-4 {
  background: url(../image/possibilities_card-4.png) center center/cover no-repeat;
}
.mobile_cases_item-5 {
  background: url(../image/possibilities_card-5.png) center center/cover no-repeat;
}
.mobile_cases_item-6 {
  background: url(../image/possibilities_card-6.png) center center/cover no-repeat;
}
.mobile_cases_item .mobile_cases_title {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}
.mobile_cases_item .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 34px;
  margin: 0 auto;
  background-color: #000;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_cases_item .plus::before {
  content: "";
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_cases_item .plus::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 14px;
  background-color: #1EACC7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_cases_item .plus:hover::before, .mobile_cases_item .plus:hover::after {
  background-color: #FF5656;
}

.choice {
  position: relative;
  padding: 60px 0 140px;
  min-height: 900px;
  background: url(../image/possibilities_mobile_bg.jpg) center center/cover no-repeat;
}
.choice_img {
  position: relative;
  display: block;
  margin: 54px auto 0;
  z-index: 2;
}
.choice_descr {
  color: #222;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}
.choice .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

.require {
  padding: 66px 0 87px;
}
.require_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0;
}
.require_title {
  color: #1CA8C3;
  font-size: 22px;
  font-weight: 400;
}
.require_list {
  margin-top: 16px;
  list-style-type: none;
  padding-left: 50px;
  max-width: 440px;
}
.require_list li {
  margin-bottom: 5px;
  position: relative;
  color: #222;
  font-size: 17px;
  font-weight: 300;
}
.require_list li::before {
  content: "";
  position: absolute;
  left: -30px;
  display: block;
  width: 21px;
  height: 20px;
  background: url(../icons/blue-tick.png) center center/cover no-repeat;
}
.require_descr {
  color: #1CA8C3;
  font-size: 17px;
  font-weight: 300;
}
.require .warning .require_title {
  color: #FF5656;
}
.require .warning .require_list li::before {
  content: "";
  position: absolute;
  left: -30px;
  display: block;
  width: 21px;
  height: 20px;
  background: url(../icons/red-tick.png) center center/cover no-repeat;
}

.worldwide {
  position: relative;
  padding: 48px 0 21px;
  background: url(../image/world_bg.jpg) center center/cover no-repeat;
  min-height: 715px;
}
.worldwide_link {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 21px;
  color: #1FBAD6;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer {
  position: relative;
  min-height: 135px;
  padding: 11px 0 40px;
  position: relative;
}
.footer_social {
  max-width: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  position: absolute;
  top: 48px;
  left: 23px;
}
.footer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #070716;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.footer_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_wrap {
  margin: 33px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 430px;
}
.footer_wrap::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 300px;
  height: 5px;
  background-color: #1FBAD6;
}
.footer_link {
  display: block;
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer_menu {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  gap: 30px;
  padding: 0;
}
.footer_menu li {
  color: #999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer_language {
  margin: 0 auto;
  display: block;
  color: #1FBAD6;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.footer_link-app {
  position: absolute;
  right: 21px;
  top: 50px;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 14px;
  }
  .subheader_phone {
    text-align: right;
  }
  .promo_title {
    font-size: 50px;
  }
  .secondPage_descr {
    width: 319px;
  }
  .mobile_cases_item {
    width: 305px;
  }
  .footer_social {
    top: auto;
    bottom: 20px;
  }
  .footer_link-app {
    top: auto;
    bottom: 20px;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding-right: 14px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_oficial {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    width: 160px;
    height: 40px;
    margin-top: 24px;
  }
  .promo_title {
    font-size: 40px;
  }
  .promo_subtitle {
    font-size: 30px;
  }
  .secondPage_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile_cases {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .choice_img {
    width: 650px;
  }
  .require_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .require_block {
    max-width: 450px;
  }
  .footer_social {
    bottom: 10px;
  }
  .footer_link-app {
    bottom: 10px;
  }
  .footer_link-app img {
    width: 265px;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 15px;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
}